<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
  <title>uusee</title>
  <link rel="stylesheet" href="//at.alicdn.com/t/font_397687_5aukhy3bt7xk1emi.css">
  <link rel="stylesheet" href="../../node_modules/weui/dist/style/weui.css">
  <!--<link rel="stylesheet" href="/weui/dist/style/weui.css">-->
  <link rel="stylesheet" href="../../common/index.less">
  <link rel="icon" href="data:;base64,=">
  <link rel="stylesheet" href="//at.alicdn.com/t/font_400993_ps8xnltewgmk7qfr.css">
  <style>
    html,body,#root{
      height: 100%;
      position: relative;
    }
  </style>
</head>
<body>
<div id="root"></div>
</body>
</html>
